.menu {
  min-width: 256px;
  border-right: 1px solid var(--base-50);
}

.list {
  padding-top: var(--space-8);
}

.link {
  justify-content: start;
  padding-inline: var(--space-16);
  padding-block: var(--space-8);

  &:hover:not(:disabled) {
    color: var(--base-25);
    background-color: hsl(from var(--white) h s l / 10%);
    backdrop-filter: blur(64px);
  }

  &:active:not(:disabled) {
    background-color: hsl(from var(--white) h s l / 30%);
    backdrop-filter: blur(64px);
  }
}

.default {
  padding-block: var(--space-16);
}

.divider {
  display: block;
  height: 1px;
  margin-inline: var(--space-8);
  margin-block: var(--space-8);
  background-color: var(--base-50);
}
