.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--space-4);
  background-color: var(--base-400);
  height: 56px;
}

.button {
  cursor: pointer;
  padding: var(--space-8);

  &:hover {
    color: var(--primary);
  }
}

.emojiContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.emojiPicker {
  position: absolute;
  bottom: calc(100% + 10px);
  right: 0;
  z-index: 100;
}

.input {
  flex-grow: 1;
  box-shadow: none;
}
