.page {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-16);
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.label {
  text-align: center;
}

.gradient {
  background: linear-gradient(
    90deg,
    var(--purple-200) 0%,
    var(--purple-400) 35%,
    var(--purple-500) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  text-align: center;
}

.get_started {
  font-size: 22px;
}

.start {
  padding-inline: 26px;
  min-width: 162px;
}
