.chat {
  display: flex;
  justify-content: space-between;
  gap: var(--space-8);
  padding: var(--space-8);
  cursor: pointer;

  &:hover {
    background-color: var(--base-100);
  }
}

.skeleton {
  background: linear-gradient(
    90deg,
    var(--base-50) 25%,
    var(--base-75) 37%,
    var(--base-75) 63%,
    var(--base-50) 75%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
}

.main {
  display: flex;
  gap: var(--space-8);
  flex: 1;
  min-width: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: 0;
}

.title {
  height: 16px;
  width: 50%;
  border-radius: var(--border-radius-8);
}

.message {
  height: 16px;
  width: 100%;
  border-radius: var(--border-radius-8);
}

.date {
  width: 40px;
  height: 12px;
  border-radius: var(--border-radius-8);
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
