.main {
  display: flex;
  height: 100%;
}

.resizer {
  width: 4px;
  cursor: col-resize;
  background-color: transparent;
  transition: background-color 0.2s ease;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}

.resizer:hover,
.resizerActive {
  background-color: var(--primary);
}
