@property --sb-thumb-color {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}

.main {
  display: flex;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 64px;
  border-right: var(--border-1) solid var(--base-50);
}

.folder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
}

.activeFolder {
  box-shadow: inset var(--border-1) 0 0 0 var(--white);
}

.icon {
  height: 28px;
  width: 28px;
}

.searchWrapper {
  display: flex;
  flex-direction: column;
  padding: var(--space-8);
  gap: var(--space-8);
}

.search {
  color: var(--base-50);
  background-color: var(--background-color-1);
  border-radius: var(--border-radius-8);
}

.filters {
  display: flex;
  gap: var(--space-8);
}

.filter {
  border-radius: var(--border-radius-16);
}

.chatsList {
  display: flex;
  flex-direction: column;
  background-color: var(--base-400);
}

.chats {
  display: flex;
  flex-direction: column;
  width: 336px;
  overflow-y: auto;
  scrollbar-color: var(--sb-thumb-color) transparent;
  scrollbar-width: thin;
  transition: --sb-thumb-color 0.5s ease;

  &:hover,
  &:active {
    --sb-thumb-color: var(--primary);
  }
}

.chats::-webkit-scrollbar {
  width: 6px;
}

.chats::-webkit-scrollbar-button {
  display: none;
}

.chats::-webkit-scrollbar-track {
  background: transparent;
}

.chats::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
  transition: background 0.5s ease;
}

.miniChat {
  display: flex;
  gap: var(--space-8);
  padding: var(--space-8);
  cursor: pointer;

  &:hover {
    background-color: var(--base-100);
  }
}

.activeChat {
  background-color: var(--base-75);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--background-color-2);
}

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--base-500);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--base-400);
  padding-inline: var(--space-16);
  height: 64px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.tools {
  display: flex;
  gap: var(--space-12);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-inline: var(--space-12);
  padding-bottom: var(--space-12);
  flex-grow: 1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--space-4);
  background-color: var(--base-400);
  height: 56px;
}

.icons {
  cursor: pointer;
  height: 28px;
  width: 46px;

  &:hover {
    color: var(--primary);
  }
}

.input {
  flex-grow: 1;
  box-shadow: none;
}

.message {
  display: flex;
  padding-inline: var(--space-12);
  padding-block: var(--space-8);
  border-radius: var(--border-radius-16);
  gap: var(--space-8);
  width: fit-content;
  max-width: 80%;
}

.incomingMessage {
  background-color: var(--base-400);
  align-self: flex-start;
  border-bottom-left-radius: var(--border-radius-2);
}

.myMessage {
  background-color: var(--primary);
  align-self: flex-end;
  border-bottom-right-radius: var(--border-radius-2);
}

.messageInfo {
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
  gap: var(--space-4);
}
