.searchWrapper {
  display: flex;
  flex-direction: column;
  padding: var(--space-8);
  gap: var(--space-8);
  flex-shrink: 0;
}

.search {
  color: var(--base-50);
}

.search input {
  color: var(--white);
}

.search input::placeholder {
  color: var(--base-50);
}

.filters {
  display: flex;
  gap: var(--space-8);
}

.chip {
  border-radius: 999px !important;
}

.chipInactive {
  background-color: var(--base-200) !important;
  color: var(--base-25) !important;
  border-color: transparent !important;

  &:hover {
    background-color: var(--base-100) !important;
    color: var(--base-25) !important;
  }
}

.collapsedSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  cursor: pointer;
}

.searchIcon {
  block-size: 28px;
  inline-size: 28px;
  color: var(--base-50);
}

.clearSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--base-50);
  cursor: pointer;
}

.clearSearch:hover {
  color: var(--white);
}
